<div class="container">
  <h3>{{editTitle}}</h3>
  <form *ngIf="customCollection">
    <div class="form-group row">
      <label for="title" class="col-sm-1 col-form-label">Title</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="title" [(ngModel)]="customCollection.title" [ngModelOptions]="{standalone: true}" placeholder="{{customCollection.title}}" />
      </div>
    </div>
    <div class="form-group row">
      <label for="bodyHtml" class="col-sm-1 col-form-label">Description</label>
      <div class="col-sm-5">
        <textarea class="form-control" rows="3" [(ngModel)]="customCollection.bodyHtml" [ngModelOptions]="{standalone: true}">{{customCollection.bodyHtml}}</textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="handle" class="col-sm-1 col-form-label">Handle</label>
      <div class="col-sm-5">
        <label class="radio-inline" *ngIf="customCollection.handle == 'all'">
          <input type="radio" name="handle" id="handle0" value="all" [(ngModel)]="customCollection.handle" checked="checked"/>All
        </label>
        <label class="radio-inline" *ngIf="customCollection.handle !== 'all'">
          <input type="radio" name="handle" id="handle0" value="all" [(ngModel)]="customCollection.handle"/>All
        </label>
        <label class="radio-inline" *ngIf="customCollection.handle == 'mobile'">
          <input type="radio" name="handle" id="handle1" value="mobile" [(ngModel)]="customCollection.handle" checked="checked"/>Mobile
        </label>
        <label class="radio-inline" *ngIf="customCollection.handle !== 'mobile'">
          <input type="radio" name="handle" id="handle1" value="mobile" [(ngModel)]="customCollection.handle"/>Mobile
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label for="image" class="col-sm-1 col-form-label">Image</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="image" [(ngModel)]="customCollection.image" [ngModelOptions]="{standalone: true}" placeholder="{{customCollection.image}}" />
      </div>
    </div>
    <div class="form-group row">
      <label for="published" class="col-sm-1 col-form-label">Publish?</label>
      <div class="checkbox col-sm-5">
        <label *ngIf="customCollection.published">
          <input type="checkbox" name="published" value="true" [(ngModel)]="customCollection.published" checked="checked"/>
          Publish
        </label>
        <label *ngIf="!customCollection.published">
          <input type="checkbox" name="published" value="true" [(ngModel)]="customCollection.published"/>
          Publish
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label for="publishedScope" class="col-sm-1 col-form-label">Scope</label>
      <div class="col-sm-5">
        <label class="radio-inline" *ngIf="customCollection.publishedScope == 'all'">
          <input type="radio" name="publishedScope" id="publishedScope0" value="all" [(ngModel)]="customCollection.publishedScope" checked="checked"/>All
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'all'">
          <input type="radio" name="publishedScope" id="publishedScope" value="all" [(ngModel)]="customCollection.publishedScope"/>All
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label for="sortOrder" class="col-sm-1 col-form-label">Sort Order</label>
      <div class="col-sm-5">
        <label class="radio-inline" *ngIf="customCollection.sortOrder == 'alpha-asc'">
          <input type="radio" name="sortOrder" id="sortOrder0" value="alpha-asc" [(ngModel)]="customCollection.sortOrder" checked="checked"/>alpha-asc
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'alpha-asc'">
          <input type="radio" name="sortOrder" id="sortOrder0" value="alpha-asc" [(ngModel)]="customCollection.sortOrder"/>alpha-asc
        </label>
        <label class="radio-inline" *ngIf="customCollection.sortOrder == 'alpha-desc'">
          <input type="radio" name="sortOrder" id="sortOrder1" value="alpha-desc" [(ngModel)]="customCollection.sortOrder" checked="checked"/>alpha-desc
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'alpha-desc'">
          <input type="radio" name="sortOrder" id="sortOrder1" value="alpha-desc" [(ngModel)]="customCollection.sortOrder"/>alpha-desc
        </label>
        <label class="radio-inline" *ngIf="customCollection.sortOrder == 'best-selling'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="best-selling" [(ngModel)]="customCollection.sortOrder" checked="checked"/>best-selling
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'best-selling'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="best-selling" [(ngModel)]="customCollection.sortOrder"/>best-selling
        </label>
        <label class="radio-inline" *ngIf="customCollection.sortOrder == 'created'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="created" [(ngModel)]="customCollection.sortOrder" checked="checked"/>created
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'created'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="created" [(ngModel)]="customCollection.sortOrder"/>created
        </label>
        <label class="radio-inline" *ngIf="customCollection.sortOrder == 'created-desc'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="created-desc" [(ngModel)]="customCollection.sortOrder" checked="checked"/>created-desc
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'created-desc'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="created-desc" [(ngModel)]="customCollection.sortOrder"/>created-desc
        </label>
        <label class="radio-inline" *ngIf="customCollection.sortOrder == 'manual'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="manual" [(ngModel)]="customCollection.sortOrder" checked="checked"/>manual
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'manual'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="manual" [(ngModel)]="customCollection.sortOrder"/>manual
        </label>
        <label class="radio-inline" *ngIf="customCollection.sortOrder == 'price-asc'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="price-asc" [(ngModel)]="customCollection.sortOrder" checked="checked"/>price-asc
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'price-asc'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="price-asc" [(ngModel)]="customCollection.sortOrder"/>price-asc
        </label>
        <label class="radio-inline" *ngIf="customCollection.sortOrder == 'price-desc'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="price-desc" [(ngModel)]="customCollection.sortOrder" checked="checked"/>price-desc
        </label>
        <label class="radio-inline" *ngIf="customCollection.publishedScope !== 'price-desc'">
          <input type="radio" name="sortOrder" id="sortOrder2" value="price-desc" [(ngModel)]="customCollection.sortOrder"/>price-desc
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label for="templateSuffix" class="col-sm-1 col-form-label">Template Suffix</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="templateSuffix" [(ngModel)]="customCollection.templateSuffix" [ngModelOptions]="{standalone: true}" placeholder="{{customCollection.templateSuffix}}" />
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button id="btn-submit" type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
      </div>
    </div>
    <div class="form-group row" *ngIf="showProgressIndicator">
      <div class="offset-sm-2 col-sm-10">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="infoMessage">
      <div class="offset-sm-2 col-sm-10">
        <div id="msg-info" class="alert alert-info" role="alert">{{infoMessage}}</div>
      </div>
    </div>
    <div class="form-group row" *ngIf="errorMessage">
      <div class="offset-sm-2 col-sm-10">
        <div id="msg-error" class="alert alert-warning" role="alert">{{errorMessage}}</div>
      </div>
    </div>
  </form>
</div>
