<form *ngIf="entity">
    <div class="form-group row">
        <label for="products" class="col-sm-1 col-form-label">Choose Product</label>
        <div class="col" *ngIf="productCollection">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-1" *ngFor="let product of productCollection._embedded.products">
                        <div class="card clickable" (click)="onChooseProduct(product)">
                            <div class="card-body">
                                <p>{{product.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <nav aria-label="..." *ngIf="imageCollection">
                        <ul class="pagination">
                            <li class="page-item disabled" *ngIf="null == imageCollection._links.prev">
                                <span class="page-link">Previous</span>
                            </li>
                            <li class="page-item" *ngIf="imageCollection._links.prev"><a class="page-link" href="#"
                                    (click)="onImageCollectionPrev($event)">Previous</a></li>
                            <li class="page-item disabled" *ngIf="null == imageCollection._links.next">
                                <span class="page-link">Next</span>
                            </li>

                            <li class="page-item" *ngIf="imageCollection._links.next !=null"><a class="page-link"
                                    href="#" (click)="onImageCollectionNext($event)">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="productId" class="col-sm-1 col-form-label">Product ID</label>
        <div class="col">
            <input type="text" readonly=true class="form-control" id="productId" [(ngModel)]="entity.productId"
                [ngModelOptions]="{standalone: true}" />
        </div>
    </div>
    <div class="form-group row">
        <label for="productTitle" class="col-sm-1 col-form-label">Product Title</label>
        <div class="col">
            <input type="text" readonly=true class="form-control" id="title" [(ngModel)]="product.title"
                [ngModelOptions]="{standalone: true}" />
        </div>
    </div>
    <div class="form-group row">
        <label for="quantity" class="col-sm-1 col-form-label">Quantity</label>
        <div class="col">
            <input type="text" class="form-control" id="quantity" required minlength="1" [(ngModel)]="entity.quantity"
                [ngModelOptions]="{standalone: true}" placeholder="{{entity.quantity}}" #quantity="ngModel" />
            <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
                <div *ngIf="quantity.errors.required">
                    Quantity is required.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="unitPrice" class="col-sm-1 col-form-label">Unit Price</label>
        <div class="col">
            <input type="text" class="form-control" id="unitPrice" required [(ngModel)]="entity.unitPrice"
                [ngModelOptions]="{standalone: true}" placeholder="{{entity.unitPrice}}" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button id="btn-submit" type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
        </div>
    </div>
    <div class="form-group row" *ngIf="showProgressIndicator">
        <div class="col-sm-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row" *ngIf="infoMessage">
        <div class="col-sm-10">
            <div id="msg-info" class="alert alert-info" role="alert">{{infoMessage}}</div>
        </div>
    </div>
    <div class="form-group row" *ngIf="errorMessage">
        <div class="col-sm-10">
            <div id="msg-error" class="alert alert-warning" role="alert">{{errorMessage}}</div>
        </div>
    </div>
</form>